$mont: "Montserrat", sans-serif;

html{
	    font-family: $mont;
			overflow-x: hidden;
			width: 100vw;

			body {
				min-width: 320px;
			}

			a {
				text-decoration: none;
        cursor: pointer;
			}

			ul {
				margin: 0;
			}

			li {
				list-style: none;
			}
      p {
        @include FontLineSize(0.1, 0.1, 0.8, 14, 10);
      }
      h2 {
        @include FontLineSize(0.45, 0.45, 0.1, 93, 24);
				font-weight: 700;
      }
      h3:not(.tit) {
        @include FontLineSize(0.3, 0.3, 0.4, 36, 8);
				font-weight: 700;
      }
}

.tab-nav, .part-add {
	a {
		font-size: 18px;
		line-height: 22px;
	}
}

.about{ .logo { img{ width: auto; }}}
.nav{ .logo { img{ width: auto; }}}

.slider-buttons {
	display: flex;
	justify-content: center;
	.s-button {
		width: 10px;
		height: 10px;
		border-radius: 5px;
		border: 2px solid black;
		margin: 0 3px;
	}
	.selected, .active {
		background: black;
		width: 31px;
	}
}
.desktop {
	display: flex !important;
	@include _phone-big {
		display: none !important;
	}
}
.mobile {
	display: none !important;
	@include _phone-big {
		display: flex !important;
	}
}
