$mont: "Montserrat", sans-serif;

html, body {
	    font-family: $mont;
			overflow-x: hidden;
			width: 100vw;

			a {
				text-decoration: none;
        cursor: pointer;
			}

			ul {
				margin: 0;
			}

			li {
				list-style: none;
			}
      p {
        @include FontLineSize(0.1, 0.1, 0.8, 14, 10);
      }
      h2 {
        @include FontLineSize(0.45, 0.45, 0.1, 93, 24);
				font-weight: 700;
      }
      h3 {
        @include FontLineSize(0.3, 0.3, 0.4, 36, 8);
				font-weight: 700;
      }
}
.desktop {
	display: block;
	@include _phone-big {
		display: none;
	}
}
.mobile {
	display: none;
	@include _phone-big {
		display: block;
	}
}
