.wedid {
  z-index: 2;
  position: relative;
  .container {
    @include width(1436);
    background: white;
    box-shadow: 0px 39px 73px rgba(1, 51, 72, 0.23);
    border-radius: 8px;
    padding: RelativeUnits(60, 0.5);
    margin-top: RelativeUnits(-225, 1);
    .title, .elements {
      width: 100%;
    }
    .title {
      @include width(455);
      margin-bottom: RelativeUnits(75, 0.8);
    }
    .elements {
      .item {
        width: 20%;
        h3 {
          margin-bottom: RelativeUnits(40, 1);
        }
      }
    }
    @include _tablet-big {
      .title {
        width: 100%;
        text-align: center;
      }
      .elements {
        flex-wrap: wrap;
        .item {
          width: 45%;
          margin-bottom: 20px;
        }
      }
    }

    @include _phone-big {
      width: 100%;
      border-radius: 16px;
      padding: RelativeUnits(60, 0.5) 0;
      padding-bottom: 60px;
      .elements {
        .item-duplet {
          width: 100vw;
          display: flex;
          flex-direction: column;
          align-items: center;
          .item { width: 90%; text-align: center; }
        }
        margin-bottom: 20px;
      }
    }
  }
}
